 body { font-family:Arial, Helvetica, Sans-Serif; font-size:12px; margin:180px 20px 5px 20px;  
   background:url(headerbg.gif) repeat-x #A4A4A4;
   color: #DAB577;
   background-color: #A4A4A4;
   }
   
#header { width:100%; height:20px; }

#header .logotext { position:absolute; top:50px; left:200px; font-family:Trebuchet MS; font-size:22px; color:#FFF; }
#header .logotext2 {position:absolute; top:90px; left:200px; font-family:Trebuchet MS;  color:#FFF; font-size:14px; }   
   
        #wrapper { width:760px; margin:0 auto; padding:0; }
        /* menu */
        #menu{ margin:0px; padding:0px; list-style:none; color:#fff; line-height:45px; display:inline-block; float:left; z-index:1000; }
        #menu a { color:#fff; text-decoration:none; }
        #menu > li {background:#172322 none repeat scroll 0 0; cursor:pointer; float:left; position:relative;padding:0px 20px;}
        #menu > li a:hover {color:#B0D730;}
        #menu .logo {background:transparent none repeat scroll 0% 0%; padding:0px; background-color:Transparent;}
        /* sub-menus*/
        #menu ul { padding:0px; margin:0px; display:block; display:inline;}
        #menu li ul { position:absolute; left:-10px; top:0px; margin-top:45px; width:150px; line-height:16px; background-color:#172322; color:#DAB577; display:none; }
        #menu li:hover ul { display:block;}
        #menu li ul li{ display:block; margin:5px 20px; padding: 5px 0px;  border-top: dotted 1px #606060; list-style-type:none; }
        #menu li ul li:first-child { border-top: none; }
        #menu li ul li a { display:block; color:#DAB577; }
        #menu li ul li a:hover { color:#DAB577; }
        /* main submenu */
        #menu #main { left:0px; top:-15px; padding-top:20px; background-color:#DAB577; color:#fff; z-index:999;}
       
        /* corners*/
        #menu .corner_inset_left { position:absolute; top:0px; left:-12px;}
        #menu .corner_inset_right { position:absolute; top:0px; left:150px;}
        #menu .last { background:transparent none repeat scroll 0% 0%; margin:0px; padding:0px; border:none; position:relative; border:none; height:0px;}
        #menu .corner_left { position:absolute; left:0px; top:0px;}
        #menu .corner_right { position:absolute; left:132px; top:0px;}
        #menu .middle { position:absolute; left:18px; height: 20px; width: 115px; top:0px;}
    
        #content { float: left; width:100%; padding:55px 30px 10px 30px ; background:url(contentbg.gif) repeat-y; text-align: justify; }

        p.m10 {margin:0 0 10px 0;line-height:1.5; color: black; width:700px; }
		p.m12 { font-size:14px; margin:0 0 10px 0;line-height:2; color: black; width:700px}
    pre.m10 {margin:0 0 10px 0;line-height:1.5; color: black; float: left;}
      
    
     #content .spisok {margin:10px 10px 10px 10px;} 
     #content .importance {position: relative; bottom: -10px; left: -19px; float: left; margin-right: 20px; }
     
       
     
     #footer p{
line-height:35px;
padding:0 0 0 0;
text-align:center;
color:#172322;

}

 a { 
    text-decoration: none; 
   }
   a:hover { 
    text-decoration: underline; }
 
   